<link href="/css/header.css" rel="stylesheet"/>
<header>
	<div class="hdr-wrapper">
		<h4 class="hdr-left-content">
			{{file.pageName}}
		</h4>
		{{#if file.isNotDownloadLink}}
		<div class="hdr-right-content">
			{{#if file.loggedInAs}}
			<div id="sideMenuWrapper" class="sideMenuWrapper">
				<i class="fa fa-bars sideMenuBurger" aria-hidden="true"></i>
				<i class="fa fa-remove sideMenuCancel" aria-hidden="true"></i>
			</div>
			<div id="possibleSideMenu" class="possibleSideMenu">
				{{#if file.isAppStore}}
				{{!-- dev console link --}}
				<div class="hdr-link-wrapper">
					<a class="menuElement" href="/devConsole">dev console</a>
				</div>
				{{!-- admin console link --}}
				<div class="hdr-link-wrapper hdr-admin-wrapper">
					<a class="menuElement" href="/adminConsole">admin console</a>
				</div>
				{{else}}
				{{!-- uat app store link --}}
				<div class="hdr-link-wrapper">
					<a class="menuElement" href="/">uat app store</a>
				</div>
				{{!-- prod app store link --}}
				<div class="hdr-link-wrapper">
					<a class="menuElement" href="/prod">prod app store</a>
				</div>
				{{/if}}
				{{!-- Logout Button --}}
				<div class="hdr-logout-btn-wrapper">
					<input id="logoutButton" class="btn btn-danger menuElement" type="submit" value="Logout" onclick="logout()">
				</div>
			</div>
			{{else}}
			{{!-- Login Button --}}
			<div class="hdr-login-btn-wrapper">
				<input id="loginButton" class="btn btn-danger hdr-login-btn" type="submit" value="Login" onclick="onLoginClick()">
			</div>
			{{/if}}
		</div>
		{{/if}}
	</div>
	<div id="loginWrapper" class="login-wrapper">
		<div class="login-top-triangle"></div>
		<div class="login-form-wrapper">
			<div class="login-form">
				<div class="form-group">
					<label>Username: </label>
					<div class="select-wrap">
						<select id="username" type="text" class="form-control login-select">
							<option value="dev" selected>developer</option>
							<option value="admin">admin</option>
						</select>
					</div>
				</div>
				<div class="form-group login-password-wrapper">
					<label>Password: </label>
					<input id="password" type="password" class="form-control"/>
				</div>
				<div class="form-group">
					<input id="loginFormSubmit" class="btn btn-success login-submit-btn" type="submit" value="Submit" onclick="loginFormSubmit()">
				</div>
			</div>
		</div>
	</div>
</header>
