<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Talic App Store</title>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/core.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/sha256.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/hmac.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/pbkdf2.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<script src="js/TalicAppStore.js"></script>

		<!-- Bootstrap -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
		<link href="css/font-awesome.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">

		<style>
			.row {
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
			}
			.row .col-lg-6, .row .col-md-6, .row .col-sm-6 {
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-flex: 1 auto;
				-ms-flex: 1 auto;
				flex: 1 auto;
			}
			.product-wrap {
				width: 100%;
			}
		</style>
	</head>

	<body>
		<form name="loginForm">
			<div class="top-head">
				<div class="top-head-h4-div">
					<h4>Talic App Store</h4>
				</div>
				<div class="top-head-div">
					<div class="loginAsDiv">
						<h4>login as: </h4>
					</div>
					<div class="loginFormWrapper">
						<div>
							<select id="username" name="username">
								<option value="dev">developer</option>
								<option value="admin">admin</option>
							</select>
						</div>
						<div>
							<input id="password" name="password" type="password" value="Tata_001" placeholder="Password"/>
						</div>
						<div>
							<input type="button" onclick="loginFormSubmit()" value="Submit"/>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="container">
			<div class="products">
				<div class="row">

					<div class="col-sm-6 col-md-6 col-lg-6">
						<div class="product-wrap">
							<div class="img-circle center-block product-img glide">
								<h3><span>Good Connect</span></h3>
							</div>
							<p>Version No: 1.3.4</p>
							<p>Release Date: 01 Feb 2017 </p>
							<p>Release Note: </p>
							<ol>
								<li>SR SR+ validations implemented.</li>
								<li>Occupation changes.</li>
								<li>SIP removed for agency.</li>
								<li>Money maxima enabled for GoodSolution users.</li>
							</ol>
							<div class="text-center">
								<a class="btn btn-danger no-radius android-icon" href="uploads/apk/GoodConnect.apk">
									<i class="fa fa-android fa-lg"></i>
									Download for Android
								</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</body>
</html>
