@font-face {
	font-family: 'tata_aia_printbold';
	src: url('../fonts/tata_aia_bold_print-webfont.woff2') format('woff2'), url('../fonts/tata_aia_bold_print-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'tata_aia_printbold';
	src: url('../fonts/tata_aia_print-webfont.woff2') format('woff2'), url('../fonts/tata_aia_print-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'tata_aia_printregular';
	src: url('../fonts/tata_aia_regular_print-webfont.woff2') format('woff2'), url('../fonts/tata_aia_regular_print-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica_neueregular';
	src: url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'), url('../fonts/helveticaneue-thin-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/*-------common styles start-------*/
body{background-color: #f4f4f3;}
.no-radius{border-radius: 0px !important;}
.color-white{color: white !important;background-color: #1a2c44}
/*-------common styles end-------*/
/*-------custom styles----------*/
.android-icon{background-color: #97C024;border:0;transition: ease-in-out 0.3s}
.android-icon:hover,.android-icon:focus,.android-icon:active:focus{background-color:#7ea01d;transition: ease-in-out 0.3s}
.ios-icon{background-color: #213856;border:0;transition: ease-in-out 0.3s}
.ios-icon:hover,.ios-icon:focus,.ios-icon:active:focus{background-color: #142235;transition: ease-in-out 0.3s}
.android-bg{}
.ios-bg{}
.center-block {display: block;margin-left: auto;margin-right: auto;}
.products{margin: 80px 0px 0px 0px;font-family: 'tata_aia_printregular'}
.product-wrap{padding: 10px 5px 15px 5px;box-shadow: 0px 0px 10px rgba(0,0,0,0.5);margin: 0 0 15px 0;}
.top-head {background-color: #1a2c44;color: white; margin: 0 0 0px 0; padding: 10px 20px; position: fixed;top: 0;width: 100%;z-index: 9999;font-family: 'tata_aia_printregular';}
.top-head-h4-div{display: flex; justify-content: flex-start; -webkit-justify-content: flex-start; -ms-justify-content: flex-start; align-items: center; -webkit-align-items: center; -ms-align-items: center; float: left;}
.top-head-div{display: flex; justify-content: flex-end; -webkit-justify-content: flex-end; -ms-justify-content: flex-end; align-items: center; -webkit-align-items: center; -ms-align-items: center;}
.loginAsDiv{display: flex; justify-content: flex-start; -webkit-justify-content: flex-start; -ms-justify-content: flex-start; align-items: center; -webkit-align-items: center; -ms-align-items: center; padding-right: 10px;}
.loginFormWrapper{display: flex; justify-content: flex-end; -webkit-justify-content: flex-end; -ms-justify-content: flex-end; align-items: center; -webkit-align-items: center; -ms-align-items: center; color: #1a2c44;}
.loginFormWrapper div {padding-right: 10px;}
@media all and (max-width: 650px) {
	.products{
		margin: 120px 0px 0px 0px;
	}
	.top-head{
		display: flex;
		-webkit-flex-flow: column wrap;
		-ms-flex-flow: column wrap;
		flex-flow: column wrap;
	}
	.top-head-div{
		-webkit-justify-content: flex-start;
		-ms-justify-content: flex-start;
		justify-content: flex-start;
	}
}
@media all and (max-width: 495px) {
	.products{
		margin: 190px 0px 0px 0px;
	}
	.top-head-div, .loginFormWrapper{
		-webkit-flex-flow: column wrap;
		-ms-flex-flow: column wrap;
		flex-flow: column wrap;
	}
	.loginAsDiv, .loginFormWrapper, .loginFormWrapper div{
		width: 100%;
		-webkit-justify-content: flex-start;
		-ms-justify-content: flex-start;
		justify-content: flex-start;
	}
}
.top-head a{text-decoration: none; cursor: pointer; color: white; outline:none;}
.top-head a:hover{color: #97C024;}
.product-img{height: 150px;width: 150px;display: table;margin-bottom: 10px;}
.product-img h3{color:white;display: table-cell;vertical-align: middle;text-align: center}
.product-img h3 span{display: block;}
.lp{background-color: #e69532;}
.gs{background-color: #2fc9c2}
.glide{background-color: #2c3c58 !important}
.btn-login{background-color: #213856;color: white;border: 0;transition: ease-in-out 0.3s}
.btn-login:hover,.btn-login:focus,.btn-login:active,.btn-login:visited{background-color: #142235;color: white;border: 0;transition: ease-in-out 0.3s}
.login-form{display: table;width: 100%;height: 100vh}
.form-login{display: table-cell;vertical-align: middle;}
.log-in-grid{margin: 0 auto;float: none}
.form-wrap{background-color: #32d9d1;padding: 30px;box-shadow: 0 0 10px rgba(0,0,0,0.5)}

/*------------------Media queries--------------*/

@media only screen and (max-width:980px){
    .product-wrap a{font-size: 12px;}
}

.progress-bar{
	color: #1a2c44;
	font-weight: bold;
}

.uploadFile {
	display: none;
	color: #1a2c44;
}
